---
import ImageParallax from "../ImageParallax.astro";
import StepInfo from "./StepInfo.astro";
import Image from "astro/components/Image.astro";

import image1 from "../../assets/images/1.avif";
import image2 from "../../assets/images/2.avif";
import image3 from "../../assets/images/3.avif";
import image4 from "../../assets/images/4.avif";
import image5 from "../../assets/images/5.avif";
import { lazy } from "astro:schema";

const productHighLights = [
  {
    title: "IA & Diseño",
    description: "Construimos soluciones que tienen al profesional de la salud en el centro.",
    items: ["Interactive", "Art direction", "Copyrighting", "Campaign design", "Brand positioning"],
  },
  {
    title: "Demanda centralizada",
    description:
      "Formularios, llamados y mensajes de WhatsApp confluyen en una única bandeja de entrada para comenzar a planificar. Automatizamos la centralización de la demanda de todos los canales en una única plataforma.",
    items: ["Interactive", "Art direction", "Copyrighting", "360 campaigns", "Concept development"],
  },
  {
    title: "Planificación inteligente",
    description:
      "Acomodamos la oferta del servicio a la demanda con un solo click. Predecimos la duración de cada evento y garantizamos que los recursos estén disponibles siguiendo las reglas de negocio de cada institución médica.",
    items: ["Interactive", "Art direction", "Campaign design", "Brand positioning", "360 campaigns", "Concept development"],
  },
  {
    title: "Ejecución efectiva",
    description:
      "Capturamos la información de lo que sucede en tiempo real y coordinamos al equipo de salud vía Whatsapp para que maximicen el uso de su tiempo.",
    items: ["Interactive", "Art direction", "Copyrighting"],
  },
  {
    title: "Mejora continua",
    description:
      "The creative work behind a brand sets them apart and speaks to their unique personality, giving the world a peek into their purpose and ambition.",
    items: ["Interactive", "Art direction", "Copyrighting", "Campaign design", "Brand positioning", "360 campaigns", "Concept development"],
  },
];
---

<div class="product-feature-01">
  <div class="content">
    <div class="left-side">
      <StepInfo title={productHighLights[0].title} description={productHighLights[0].description} items={productHighLights[0].items} />
      <div class="img-container mobile">
        <ImageParallax> <Image src={image1} alt="Parallax image 1" width={500} loading={"lazy"} /> </ImageParallax>
      </div>

      <StepInfo title={productHighLights[1].title} description={productHighLights[1].description} items={productHighLights[1].items} />
      <div class="img-container mobile">
        <ImageParallax> <Image src={image2} alt="Parallax image 2" width={500} loading={"lazy"} /> </ImageParallax>
      </div>

      <StepInfo title={productHighLights[2].title} description={productHighLights[2].description} items={productHighLights[2].items} />
      <div class="img-container mobile">
        <ImageParallax> <Image src={image3} alt="Parallax image 3" width={500} loading={"lazy"} /> </ImageParallax>
      </div>

      <StepInfo title={productHighLights[3].title} description={productHighLights[3].description} items={productHighLights[3].items} />
      <div class="img-container mobile">
        <ImageParallax> <Image src={image4} alt="Parallax image 4" width={500} loading={"lazy"} /> </ImageParallax>
      </div>

      <StepInfo title={productHighLights[4].title} description={productHighLights[4].description} items={productHighLights[4].items} />
      <div class="img-container mobile">
        <ImageParallax> <Image src={image5} alt="Parallax image 5" width={500} loading={"lazy"} /> </ImageParallax>
      </div>
    </div>
    <div class="right-side">
      <div class="img-container">
        <ImageParallax>
          <Image src={image1} alt="Parallax image 1" width={500} loading={"lazy"} />
        </ImageParallax>
      </div>
      <div class="img-container">
        <ImageParallax>
          <Image src={image2} alt="Parallax image 2" width={500} loading={"lazy"} />
        </ImageParallax>
      </div>
      <div class="img-container">
        <ImageParallax>
          <Image src={image3} alt="Parallax image 3" width={500} loading={"lazy"} />
        </ImageParallax>
      </div>
      <div class="img-container">
        <ImageParallax>
          <Image src={image4} alt="Parallax image 4" width={500} loading={"lazy"} />
        </ImageParallax>
      </div>
      <div class="img-container">
        <ImageParallax>
          <Image src={image5} alt="Parallax image 5" width={500} loading={"lazy"} />
        </ImageParallax>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .product-feature-01 {
    margin: 48px;

    .content {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 12px;

      .left-side {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        border-radius: 10px;
        background-image: linear-gradient(
          to right top,
          rgba(50, 50, 50, 0.8),
          rgba(44, 44, 44, 0.8),
          rgba(39, 39, 39, 0.8),
          rgba(33, 33, 33, 0.8),
          rgba(28, 28, 28, 0.8)
        );
        border: solid 1px #3a3a3a;
        box-shadow:
          2.8px 2.4px 1.2px rgba(0, 0, 0, 0.021),
          6.2px 5.2px 2.7px rgba(0, 0, 0, 0.031),
          10.4px 8.7px 4.6px rgba(0, 0, 0, 0.038),
          15.7px 13.1px 6.9px rgba(0, 0, 0, 0.044),
          22.7px 18.9px 10px rgba(0, 0, 0, 0.05),
          32.1px 26.8px 14.2px rgba(0, 0, 0, 0.056),
          45.5px 37.9px 20.1px rgba(0, 0, 0, 0.062),
          66.1px 55.1px 29.2px rgba(0, 0, 0, 0.069),
          101.8px 84.9px 45px rgba(0, 0, 0, 0.079),
          181px 151px 80px rgba(0, 0, 0, 0.1);
        .mobile {
          display: none !important;
        }
        .img-container {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #f1f1f1;
          aspect-ratio: 1;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
          }
        }
      }
      .right-side {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        border-radius: 10px;
        overflow: hidden;
        border: solid 1px #3a3a3a;

        box-shadow:
          2.8px 2.4px 1.2px rgba(0, 0, 0, 0.021),
          6.2px 5.2px 2.7px rgba(0, 0, 0, 0.031),
          10.4px 8.7px 4.6px rgba(0, 0, 0, 0.038),
          15.7px 13.1px 6.9px rgba(0, 0, 0, 0.044),
          22.7px 18.9px 10px rgba(0, 0, 0, 0.05),
          32.1px 26.8px 14.2px rgba(0, 0, 0, 0.056),
          45.5px 37.9px 20.1px rgba(0, 0, 0, 0.062),
          66.1px 55.1px 29.2px rgba(0, 0, 0, 0.069),
          101.8px 84.9px 45px rgba(0, 0, 0, 0.079),
          181px 151px 80px rgba(0, 0, 0, 0.1);

        .img-container {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #f1f1f1;
          aspect-ratio: 1;
          overflow: hidden;
          position: relative;
          width: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  @keyframes parallax {
    from {
      opacity: 0;
      transform: translateY(400px);
    }
    to {
      opacity: 1;
      transform: translateY(-100px);
    }
  }

  @media only screen and (max-width: 1400px) {
  }

  @media only screen and (max-width: 1024px) {
    .product-feature-01 {
      margin: 24px;
    }
  }

  @media only screen and (max-width: 768px) {
    .product-feature-01 {
      .content {
        display: unset !important;
        grid-template-columns: unset !important;

        .left-side {
          width: 100%;
          display: flex !important;
          flex-direction: column !important;
          overflow: hidden;

          .mobile {
            display: block !important;
          }
        }
        .right-side {
          display: none;
        }
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .product-feature-01 {
    }
  }
</style>
