---
import ImageParallax from "../ImageParallax.astro";
import StepInfo from "./StepInfo.astro";
import Image from "astro/components/Image.astro";

import image1 from "../../assets/images/1.webp";
import image2 from "../../assets/images/2.webp";
import image3 from "../../assets/images/3.webp";
import image4 from "../../assets/images/4.webp";

const productHighLights = [
  {
    title: "Demanda centralizada",
    description:
      "Formularios, llamados y mensajes de WhatsApp confluyen en una única bandeja de entrada para comenzar a planificar. Automatizamos la centralización de la demanda de todos los canales en una única plataforma.",
    items: ["Solicitudes digitales", "Asistente conversacional", "Agendamiento inteligente", "Gestión precisa de solicitudes"],
  },
  {
    title: "Planificación inteligente",
    description:
      "Optimizamos la utilización de los recursos en base a la demanda. Predecimos la duración de cada evento según datos históricos y recomendamos espacios que minimicen errores y atrasos, siguiendo las reglas de negocio de cada institución médica.",
    items: [
      "Asistencia con IA en el flujo de trabajo",
      "Planificación automática de un día en un solo click",
      "Predicción de tiempos, atrasos y cancelaciones",
      "Prevención de errores",
    ],
  },
  {
    title: "Ejecución efectiva",
    description:
      "Capturamos la información de lo que sucede en tiempo real y coordinamos al equipo de salud vía WhatsApp para que maximicen el uso de su tiempo.",
    items: ["Mensajería instantanea", "Comunicación con los profesionales", "Seguimiento en tiempo real"],
  },
  {
    title: "Iteración continua",
    description:
      "Recolectamos datos de punta a punta de todos los procesos, proporcionando una visión integral del uso de los recursos. Mostramos las métricas clave para tomar decisiones informadas que optimicen la capacidad operativa.",
    items: ["Tableros de analítica", "Métricas personales e institucionales", "Retroalimentación continua de los datos"],
  },
];
---

<section class="product-feature">
  <div class="content">
    <div class="left-side">
      <StepInfo title={productHighLights[0].title} description={productHighLights[0].description} items={productHighLights[0].items} />
      <div class="img-container mobile">
        <ImageParallax> <Image src={image1} alt="Parallax image 2" width={1200} loading={"lazy"} /> </ImageParallax>
      </div>

      <StepInfo title={productHighLights[1].title} description={productHighLights[1].description} items={productHighLights[1].items} />
      <div class="img-container mobile">
        <ImageParallax> <Image src={image2} alt="Parallax image 3" width={1200} loading={"lazy"} /> </ImageParallax>
      </div>

      <StepInfo title={productHighLights[2].title} description={productHighLights[2].description} items={productHighLights[2].items} />
      <div class="img-container mobile">
        <ImageParallax> <Image src={image3} alt="Parallax image 4" width={1000} loading={"lazy"} /> </ImageParallax>
      </div>

      <StepInfo title={productHighLights[3].title} description={productHighLights[3].description} items={productHighLights[3].items} />
      <div class="img-container mobile">
        <ImageParallax> <Image src={image4} alt="Parallax image 5" width={1200} loading={"lazy"} /> </ImageParallax>
      </div>
    </div>
    <div class="right-side">
      <div class="img-container">
        <ImageParallax>
          <Image src={image1} alt="Parallax image 2" width={1200} loading={"lazy"} />
        </ImageParallax>
      </div>
      <div class="img-container">
        <ImageParallax>
          <Image src={image2} alt="Parallax image 3" width={1200} loading={"lazy"} />
        </ImageParallax>
      </div>
      <div class="img-container">
        <ImageParallax>
          <Image src={image3} alt="Parallax image 4" width={1200} loading={"lazy"} />
        </ImageParallax>
      </div>
      <div class="img-container">
        <ImageParallax>
          <Image src={image4} alt="Parallax image 5" width={1200} loading={"lazy"} />
        </ImageParallax>
      </div>
    </div>
  </div>
  <p class="bottom-text-images">*Todas las imágenes fueron generadas con IA.</p>
</section>

<style lang="scss">
  .product-feature {
    margin: 48px;
    position: relative;

    .content {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 12px;

      .left-side {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        border-radius: 10px;
        background-color: #f1f1f11c;
        backdrop-filter: blur(5px);
        border: 0.5px solid #f1f1f157;
        box-shadow:
          2.8px 2.4px 1.2px rgba(0, 0, 0, 0.021),
          6.2px 5.2px 2.7px rgba(0, 0, 0, 0.031),
          10.4px 8.7px 4.6px rgba(0, 0, 0, 0.038),
          15.7px 13.1px 6.9px rgba(0, 0, 0, 0.044),
          22.7px 18.9px 10px rgba(0, 0, 0, 0.05),
          32.1px 26.8px 14.2px rgba(0, 0, 0, 0.056),
          45.5px 37.9px 20.1px rgba(0, 0, 0, 0.062),
          66.1px 55.1px 29.2px rgba(0, 0, 0, 0.069),
          101.8px 84.9px 45px rgba(0, 0, 0, 0.079),
          181px 151px 80px rgba(0, 0, 0, 0.1);
        .mobile {
          display: none !important;
        }
        .img-container {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #f1f1f1;
          aspect-ratio: 1;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .right-side {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        border-radius: 10px;
        overflow: hidden;
        border: solid 1px #3a3a3a;

        box-shadow:
          2.8px 2.4px 1.2px rgba(0, 0, 0, 0.021),
          6.2px 5.2px 2.7px rgba(0, 0, 0, 0.031),
          10.4px 8.7px 4.6px rgba(0, 0, 0, 0.038),
          15.7px 13.1px 6.9px rgba(0, 0, 0, 0.044),
          22.7px 18.9px 10px rgba(0, 0, 0, 0.05),
          32.1px 26.8px 14.2px rgba(0, 0, 0, 0.056),
          45.5px 37.9px 20.1px rgba(0, 0, 0, 0.062),
          66.1px 55.1px 29.2px rgba(0, 0, 0, 0.069),
          101.8px 84.9px 45px rgba(0, 0, 0, 0.079),
          181px 151px 80px rgba(0, 0, 0, 0.1);

        .img-container {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #f1f1f1;
          aspect-ratio: 1;
          overflow: hidden;
          position: relative;
          width: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .bottom-text-images {
      position: absolute;
      right: 0;
      bottom: -40px;
      color: #f1f1f186;
      font-size: 12px;
    }
  }
  @keyframes parallax {
    from {
      opacity: 0;
      transform: translateY(400px);
    }
    to {
      opacity: 1;
      transform: translateY(-100px);
    }
  }

  @media only screen and (max-width: 1024px) {
    .product-feature {
      margin: 16px;
    }
  }

  @media only screen and (max-width: 768px) {
    .product-feature {
      .content {
        display: unset !important;
        grid-template-columns: unset !important;

        .left-side {
          width: 100%;
          display: flex !important;
          flex-direction: column !important;
          overflow: hidden;

          .mobile {
            display: block !important;
          }
        }
        .right-side {
          display: none;
        }
      }
    }
  }
</style>
