---
import AnimatedItem from "../AnimatedItem.astro";

interface Props {
  title?: string;
  description?: string;
  itemsTitles?: string[];
  items?: string[];
  invert?: boolean;
  marginLeft?: string;
  marginRight?: string;
  maxWidth?: string;
}

const {
  title = "",
  description = "",
  itemsTitles = [],
  items = [],
  invert = false,
  marginLeft = "15%",
  marginRight = "0",
  maxWidth = "70%",
} = Astro.props;
---

<div
  class={`step-info-container${invert ? " invert" : ""}`}
  style={`margin-left: ${marginLeft}; margin-right: ${marginRight}; max-width: ${maxWidth};`}
>
  <slot />
  <AnimatedItem animation={invert ? "translateX(-20px)" : "translateX(20px)"}>
    <h2>{title}</h2>
  </AnimatedItem>
  <AnimatedItem animation={invert ? "translateX(-20px)" : "translateX(20px)"} delay="0.2s">
    <p>{description}</p>
  </AnimatedItem>
  <AnimatedItem animation="translateY(0px)" delay="0.3s">
    <ul class="items">
      <div class="line"></div>
      {
        items.map((item, index) => {
          const title = itemsTitles[index];
          return (
            <AnimatedItem delay={`${0.1 * index + 0.3}s`} animation={invert ? "translateX(-10px)" : "translateX(10px)"} duration="0.2s">
              <li>
                {title && <span class="item-title">{title} </span>}
                {item}
              </li>
            </AnimatedItem>
          );
        })
      }
    </ul>
  </AnimatedItem>
</div>

<style lang="scss">
  .step-info-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    color: #f1f1f1;
    min-width: 300px;
    gap: min(5vh, 24px);
    overflow: hidden;
    text-align: left;

    h2 {
      margin: 0;
      font-size: 40px;
      font-weight: 700;
    }

    p {
      margin: 0;
      font-size: 20px;
      text-wrap: pretty;
      line-height: 32px;
    }

    ul {
      margin: 0;
      padding: 0;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .line {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: #f1f1f1;
        opacity: 0.5;
        border-radius: 0.5px;
      }

      li {
        font-size: 16px;
        list-style: none;
        margin: 0;
        padding: 0;
        opacity: 0.7;
        line-height: 28px;
        margin-left: 24px;
        text-align: left;
        .item-title {
          font-weight: 900;
          font-size: 20px;
          margin-top: 16px;
          display: block;
          color: #ec5a3d;
        }
      }
    }
  }

  // Cuando invertimos
  .step-info-container.invert {
    align-items: flex-end;
    margin-left: 0;
    margin-right: 15%;
    text-align: right;

    ul {
      .line {
        left: auto;
        right: 0;
      }

      li {
        margin-left: 0;
        margin-right: 24px;
        text-align: right;
      }
    }
  }

  // Media queries
  @media only screen and (max-width: 1400px) {
    .step-info-container {
      margin-left: 12% !important;
      margin-right: 12% !important;

      max-width: 80%;
      gap: 12px;

      h2 {
        font-size: 32px;
      }
      p {
        font-size: 16px;
        line-height: 20px;
      }
      ul li {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .step-info-container.invert {
      margin-left: 12% !important;

      margin-right: 12% !important;
    }
  }

  @media only screen and (max-width: 1024px) {
    .step-info-container {
      margin-left: 8% !important;
      margin-right: 8% !important;
    }
    .step-info-container.invert {
      margin-left: 8% !important;
      margin-right: 8% !important;
    }
  }

  @media only screen and (max-width: 768px) {
    .step-info-container {
      padding: 10%;
      margin: 0 !important;
      min-width: 100%;
      min-height: 400px;
      aspect-ratio: 4/3;

      h2 {
        font-size: 28px;
      }

      p {
        font-size: 14px;
      }

      ul li {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .step-info-container.invert {
      align-items: flex-end;
    }
  }

  @media only screen and (max-width: 480px) {
    .step-info-container {
      aspect-ratio: 3/4;
    }
  }
</style>
