---
import { Image } from "astro:assets";
import LogoX from "../assets/images/svg-x.svg";
import LogoYT from "../assets/images/svg-yt-fill.svg";
import LogoLN from "../assets/images/svg-ln.svg";
import LogoSP from "../assets/images/svg-sp.svg";
import LogoIG from "../assets/images/svg-ig.svg";
---

<div class="social-media-container">
  <a href="http://www.x.com/somoswuru" target="_blank" title="X" rel="noopener noreferrer">
    <Image src={LogoX} alt="logo X" height={16} class="icon" style="animation-delay: 0.1s;" loading={"eager"} />
  </a>
  <a href="https://www.linkedin.com/company/wuru/" target="_blank" title="Linkedin" rel="noopener noreferrer">
    <Image src={LogoLN} alt="logo LN" height={18} class="icon" style="animation-delay: 0.2s;" loading={"eager"} />
  </a>
  <a href="https://open.spotify.com/show/4Y9ZWdptkgK77ggLblzG8G?si=f9148e7a834343ab" target="_blank" title="Spotify" rel="noopener noreferrer">
    <Image src={LogoSP} alt="logo SP" height={22} class="icon" style="animation-delay: 0.3s;" loading={"eager"} />
  </a>
  <a href="http://www.instagram.com/somoswuru" target="_blank" title="Instagram" rel="noopener noreferrer">
    <Image src={LogoIG} alt="logo IG" height={20} class="icon" style="animation-delay: 0.4s;" loading={"eager"} />
  </a>
  <a href="https://www.youtube.com/channel/UCL2wsaBCQbRUwFgd8S_3mWw" target="_blank" title="Youtube" rel="noopener noreferrer">
    <Image src={LogoYT} alt="logo YT" height={16} class="icon" style="animation-delay: 0.5s;" loading={"eager"} />
  </a>
</div>

<script>
  const socialMediaContainer = document.querySelector(".social-media-container") as HTMLElement;

  if (socialMediaContainer) {
    const handleScroll = () => {
      const scrollY = window.scrollY;
      const windowHeight = window.innerHeight;
      const documentHeight = document.body.scrollHeight;

      const currentScrollY = window.scrollY;
      const distanceFromBottom = documentHeight - (scrollY + windowHeight);

      if (currentScrollY < 400) {
        socialMediaContainer.style.backgroundColor = "#1c1c1c00";
        socialMediaContainer.style.border = "solid 0.5px #3a3a3a00";
        socialMediaContainer.style.backdropFilter = "blur(0px)";
      } else {
        socialMediaContainer.style.backgroundColor = "#1c1c1c63";
        socialMediaContainer.style.border = "solid 0.5px #3a3a3a8b";
        socialMediaContainer.style.backdropFilter = "blur(5px)";
      }

      if (distanceFromBottom <= 400) {
        socialMediaContainer.style.opacity = "0";
        socialMediaContainer.style.pointerEvents = "none";
        socialMediaContainer.style.transform = "translateX(48px)";
      } else {
        socialMediaContainer.style.opacity = "1";
        socialMediaContainer.style.pointerEvents = "all";
        socialMediaContainer.style.transform = "translateX(0px)";
      }
    };

    window.addEventListener("scroll", handleScroll);
  }
</script>

<style lang="scss">
  @keyframes icons-appears-nav {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    50% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0px);
      opacity: 0.7;
    }
  }

  .social-media-container {
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    position: fixed;
    right: 60px;
    top: calc(50% - 135px);
    padding: 8px;
    border-radius: 10px;
    height: 270px;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s ease-in-out;

    .icon {
      opacity: 0.5;
      animation: icons-appears-nav 0.5s ease-out forwards;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 1 !important;
        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.66));
      }
    }
  }
</style>
